<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games - Jajo</title>
    <link rel="stylesheet" href="games.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="site-logo">JAJO</div>
        <nav class="nav-links">
            <a href="../../../home.html">Home</a>
            <a href="games.html">Games</a>
            <a href="../contacts/contactPage.html">Contacts</a>
        </nav>
    </header>

    <div class="hero-section">
        <div class="hero-background"></div>
        <div class="hero-content">
           
                <img class="game-image" src="../../../assests/images/aov.jpg" alt="Hero Image">
                
            <p class="hero-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates error ipsum autem officia eveniet nostrum. Praesentium deleniti animi possimus porro, voluptatibus quos ipsam id voluptatum distinctio rem voluptatum autem anim?</p>
        </div>
    </div>

    <div class="games-grid">
        <div class="game-card">
            <div class="card-title">Dota 2</div>
            <div class="card-image-placeholder">
                <img class="game-image" src="../../../assests/images/dota.jpg" alt="Dota 2">
            </div>
            <div class="card-info">
                <h4>Dota 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque officia aperiam ratione consectetur pariatur quasi quis et animi esse. Laborum consequatur hic, officiis libero accusantium quaerat asperiores non doloribus numquam.</p>
            </div>
        </div>
        <div class="game-card">
            <div class="card-title">Valorant</div>
            <div class="card-image-placeholder">
                <img class="game-image" src="../../../assests/images/valorant.jpg" alt="Valorant">
            </div>
            <div class="card-info">
                <h4>Valorant</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque officia aperiam ratione consectetur pariatur quasi quis et animi esse. Laborum consequatur hic, officiis libero accusantium quaerat asperiores non doloribus numquam.</p>
            </div>
        </div>
        <div class="game-card">
            <div class="card-title">Apex Legend</div>
            <div class="card-image-placeholder">
                <img class="game-image" src="../../../assests/images/apex.jpg" alt="Apex Legends">
            </div>
            <div class="card-info">
                <h4>Apex legend</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque officia aperiam ratione consectetur pariatur quasi quis et animi esse. Laborum consequatur hic, officiis libero accusantium quaerat asperiores non doloribus numquam.</p>
            </div>
        </div>
    </div>
</body>
</html>