<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Nexus Games</title>
    <link rel="stylesheet" href="contactPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="site-logo">JAJO</div>
        <nav class="nav-links">
            <a href="../../../home.html">Home</a>
            <a href="../games/games.html">Games</a>
            <a href="contactPage.html">Contacts</a>
        </nav>
    </header>

    <div class="contact-page-container">
        <div class="contact-info">
            <h1 class="contact-title">Contact us</h1>
            <p>Visit us at:<br>CompanyX<br>Karaportti 2<br>02340 ESPOO<br>Finland</p>
            <p>Email: <a href="mailto:info@metropolia.fi">abhayj@metropolia.fi</a></p>
            <p>Phone: +358 (0)401231233</p>
        </div>
        <div class="map-placeholder">
            <div style="width: 100%"><iframe width="100%" height="390"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.mapsdirections.info/fr/calculer-la-population-sur-une-carte">Estimer la population sur la carte</a></iframe></div>
        </div>
    </div>
</body>
</html>